.contained {
    max-width: 1288px;
    min-width: 1008px;
    height: 100%;
    margin: 0 auto;
    padding: 10px 28px 30px;
    clear: both;
}

.uncontained{
    min-width: 1008px;
    padding: 10px 28px 30px;
}